.wrapper {
    background-color: #131820!important;
}
.product-gallery {
    position: relative;
    .owl-stage {
        height: auto;
        margin: 0 auto;
    }
    .owl-item {
        height: auto;
    }
    .product-gallery-img-container {
        height: 100%;
        width: 100%;
        display: inline-block;
        margin-bottom: 0;
        cursor: pointer;
    }

    .owl-nav {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 100%;
        display: block !important;

        .owl-prev {
            position: absolute;
            left: 0;
            top: -40px;
            font-size: 0;
            width: 40px;
            height: 50px;
            display: block;
            &:before {
                content: '';
                position: absolute;
                width: 30px;
                top: 20px;
                height: 2px;
                transform: rotate(-45deg);
                background-color: #fff;
            }
            &:after {
                content: '';
                position: absolute;
                width: 30px;
                top: 41px;
                left: 0;
                height: 2px;
                transform: rotate(45deg);
                background-color: #fff;
            }
        }

        .owl-next {
            position: absolute;
            right: 0;
            top: -40px;
            width: 30px;
            height: 50px;
            font-size: 0;
            display: block;
            &:before {
                content: '';
                position: absolute;
                width: 30px;
                top: 40px;
                left: 0;
                height: 2px;
                transform: rotate(-45deg);
                background-color: #fff;
            }
            &:after {
                content: '';
                position: absolute;
                width: 30px;
                top: 20px;
                height: 2px;
                transform: rotate(45deg);
                background-color: #fff;
            }
        }
    }
}

