.nocco-product-item {
    display: block;
    z-index: 2;
    position: relative;
    width: auto;
    max-height: 345px;
}

table.nocco-products-product-container {
    width: auto !important;
    border: none !important;
    min-height: 350px !important;
    height: 100%;
    td {
        border: none !important;
        padding: 0 !important;
    }
}

@media only screen and (max-width: 767px) {
    table.nocco-products-product-container {
        width: 100% !important;
        min-height: auto !important;
        td {
            width: 25%;
            display: inline-block;
        }
    }
}

@media only screen and (max-width: 479px) {
    table.nocco-products-product-container {
        td {
            width: 50%;
            display: inline-block;
        }
    }
}